.post-title{
    padding: 20px 30px;
    margin: 0 auto;
    font-size: 25px;
}
.post-about{
    font-size: 30px;
    padding: 130px 40px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    animation: opener 1s ease-in-out 1;

    @keyframes opener {
        0%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
    @include breakpoint(1000px){
        padding: 50px 10px;
    }
    @include breakpoint($mini-tablet){
        font-size: 15px;
        padding: 20px 10px;
    }
    @include breakpoint($mobile){
        font-size: 10px;
    }
}
#mobile{
    max-width: 50%;
}
#tablet{
    max-width: 60%;
}
@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}