<footer class="contacts" id="contacts">
    <div class="container">
        <h2 class="footer-title title">Contacts</h2>
        <div class="footer__icons">
            <a href="https://vk.com/vanchyck" class="footer-link">
                <img src="/assets/images/icons/vk.svg" alt="vk" class="footer-icon">
            </a>
            <a href="https://www.instagram.com/zhilenko_ivan/" class="footer-link">
                <img src="/assets/images/icons/inst.svg" alt="instagram" class="footer-icon">
            </a>
            <a href="mailto:zhilenkovany1@gmail.com" class="footer-link">
                <img src="/assets/images/icons/email.svg" alt="email" class="footer-icon">
            </a>
            <a href="tel:+79308423892" class="footer-link">
                <img src="/assets/images/icons/phone.svg" alt="phone" class="footer-icon">
            </a>
        </div>
        <div class="footer-text">
            Like me on
            Vkontacte, Instagram, E-mail, Telephone
        </div>
    </div>
</footer>
    			<!-- Подключаем jQuery -->
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
                <!-- Подключаем файл скриптов -->
                <script src="assets/js/app.js"></script>
                <script src="assets/js/main.js"></script>
