<aside class="sidebar" id="sidebar">
    <div class="nav nav--sidebar">
        <div class="nav__item nav__item--sidebar">
            <a data-goto=".home" href="#" class="nav__item-link nav__item-link--sidebar">Home</a>
        </div>
        <div class="nav__item nav__item--sidebar">
            <a data-goto=".about" href="#" class="nav__item-link nav__item-link--sidebar">About me</a>
        </div>
        <div class="nav__item nav__item--sidebar">
            <a data-goto=".skills" href="#" class="nav__item-link nav__item-link--sidebar">Skills</a>
        </div>
        <div class="nav__item nav__item--sidebar">
            <a data-goto=".portfolio" href="#" class="nav__item-link nav__item-link--sidebar">Portfolio</a>
        </div>
        <div class="nav__item nav__item--sidebar">
            <a data-goto=".contacts" href="#" class="nav__item-link nav__item-link--sidebar">Contacts</a>
        </div>
    </div>
</aside>